[submodule "Tools/HydroModTools"]
	path = Tools/HydroModTools
	url = git@github.com:ResaloliPT/HydroneerReleases.git
[submodule "Tools/HydroModTool"]
	path = Tools/HydroModTool
	url = git@github.com:ResaloliPT/HydroModTool.git
